<h3>Add Accounts</h3>
<div id='addAccount'></div>

<h3>Unresolved Accounts</h3>
<p>Any accounts that appear here we've had issues validating. Please try again later. If the issue persists please contact us directly via phone.</p>
<ul>
  <% @user.members.each do |name| %>
    <% if ['CHALLENGED', 'EXPIRED'].any? {|x| x == name.status} %>
      <div class="remove-account__item" >
        <%= button_to 'x', {controller: "subscriptions", action: "delete_mx_member", member_guid: name.guid}, method: :delete %>
        <li><%= name.name %></li>
      </div>
    <% end %>
  <% end %>
</ul>

<h3>Remove Accounts</h3>
<ul>
  <% @user.members.each do |name| %>
    <% if name.status == 'CONNECTED' %>
      <div class="remove-account__item" >
        <%= button_to 'x', {controller: "subscriptions", action: "delete_mx_member", member_guid: name.guid}, method: :delete %>
        <li><%= name.name %></li>
      </div>
    <% end %>
  <% end %>
</ul>
<br><br>

<script>
  function loadMxWidget() {
    var mxConnect = new MXConnect({
      id: 'addAccount',
      url: '<%= @widget.attributes["connect_widget_url"] %>',
      onLoad: function () {
        // Add accounts widget successfully loaded
        console.log('On Load');
      },
      onSuccess: function (memberGuid) {
        // Member created successfully
        console.log('On Success');
      },
      height: '450px'
    });

    mxConnect.load();
  }
</script>
<script onload="loadMxWidget();" src="https://atrium.mx.com/connect.js"></script>

