<div class="box-container">
  <div class="box">
    <%= form_for(@user) do |f| %>
      <h3>Set Spending Limit</h3>
      <%= f.label :user_budget, "Monthly Spending Limit", class: 'text-red' %></br>
      $<%= f.number_field :user_budget, placeholder: 'Enter Limit', class: 'preferences-input budget-input' %>
      </br></br>

      <%= image_tag("spending-money-icon", class: 'budget-image') %>

      <h3>Alert Schedule</h3>
      <%= f.select(:notification_interval, options_for_select([['Every 5 Days (recommended)','interval_5_days'],['Weekly (7th, 14th, 21st, Last Day of Month)', 'interval_weekly'],['Only When I Hit My Budget', 'interval_limit']], @user.notification_interval)) %>
      </br></br>

      <div id="notification_percent">
        <%= f.number_field :notification_percent, placeholder: 'Enter % Limit', class: 'preferences-input' %>%
        </br></br>
      </div>

      <%= f.select(:notification_type, options_for_select([['Email', 'email'],['Text', 'text'], ['Text and Email', 'email_text']], @user.notification_type)) %>
      </br></br>

      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>

<h3>Tips</h3>
<ol>
  <li>Pay your large, recurring expenses by the 15th of the month. The alert will be more accurate, when these major expenses are included. Inaccuracy would defeat the whole purpose of SpendingAlert!</li>
  <li>Set a realistic spending limit. If you make $5,000 per month after taxes you might set a limit/budget of $4,500. That would result in $500 in savings. The more you reduce your spending limit, the more money you could save.</li>
  <li>Limit your number of monthly credit cards. This will help you manage your money and make the set up easier.</li>
</ol>

