<div style="width: 100%">
  <h2>Set Budget Limit</h2>

  <%= form_for(@user) do |f| %>
  <%= f.label :user_budget, "Budget Limit" %><br/>
  <%= f.number_field :user_budget %><br/>

  <%= f.submit "Set Budget" %>
  <% end %>

  <div id='addAccount'>ID here</div>
</div>


<script src="https://atrium.mx.com/connect.js"></script>
<script>
  var mxConnect = new MXConnect({
    id: 'addAccount',
    url: '<%= @widget.attributes["connect_widget_url"] %>',
    onLoad: function () {
      // Add accounts widget successfully loaded
      console.log('On Load');
    },
    onSuccess: function (memberGuid) {
      // Member created successfully
      console.log('On Success');
    }
  });

  mxConnect.load();
</script>

