<div class="box-container">
  <div class="box">
    <%= form_for(@user) do |f| %>
      <h3>Set Spending Limit</h3>
      <%= f.label :user_budget, "Monthly Spending Limit" %></br>
      $<%= f.number_field :user_budget, placeholder: 'Enter Amount', class: 'preferences-input' %>
      </br></br></br>


      <h3>Alert Schedule</h3>
      <%= f.select(:notification_interval, options_for_select([['Every 5 Days (recommended)','interval_5_days'],['Weekly (7th, 14th, 21st, Last Day of Month)', 'interval_weekly'],['Only When I Hit My Budget', 'interval_limit']], @user.notification_interval)) %>
      </br></br>

      <div id="notification_percent">
        <%= f.number_field :notification_percent, placeholder: 'Enter % Limit', class: 'preferences-input' %>%
        </br></br>
      </div>

      <%= f.select(:notification_type, options_for_select([['Email', 'email'],['Text', 'text'], ['Text and Email', 'email_text']], @user.notification_type)) %>
      </br></br>

      <%= f.submit "Submit" %>
    <% end %>
  </div>

  <h3>SpendingAlert App Tips</h3>
  <p>Pay your large, recurring expenses by the 15th of the month. The alert will be more accourate, when these major expenses are included. Inaccuracy would defeat the whole purpose of SpendingAlert! Try to limit the number of credit cards you use each month. This will help with managing your money and the connections to the SpendingAlert App easier. Make sure you set a realistic spending limit to start. For example, if you make $5,000 per month after taxes you might set a spending limit at $4,500. Inorder to have a $500 per month savings goal. In the future you can reduce your spending limit even more.</p>

</div>
