<div class="box-container">
  <div class="box">
    <h3>Spending Limit</h3>
    <p><%= number_to_currency(@user.user_budget, precision: 2) %> per month</p>
    <h5><a href="/budget">change limit</a></h5>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <h3>Total Spending</h3>
    <p><%= number_to_currency(@user.total_spending, precision: 2) %> this month</p>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <h3>Amount Left to Spend or Save!</h3>
    <p class=<%= @user.amount_left > 0 ? '' : 'text-red' %>><%= number_to_currency(@user.amount_left, precision: 2) %></p>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <h3>Connected Accounts</h3>
    <ul>
      <% @user.members.each do |name| %>
        <li class="dashboard__member"><%= name.name %></li>
      <% end %>
    </ul>
    <h5><a href="/accounts">add/delete accounts</a></h5>
  </div>
</div>

<br><br>
