<h2>Settings</h2>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number, autocomplete: "tel", placeholder: '(xxx) xxx-xxxx' %>
  </div>

  <h3>Alert Schedule</h3>
  <%= f.select(:notification_interval, options_for_select([['Every 5 Days (recommended)','interval_5_days'],['Weekly (7th, 14th, 21st, Last Day of Month)', 'interval_weekly'],['Off', 'interval_off']], @user.notification_interval)) %>
  </br></br>

  <div id="notification_percent">
    <%= f.number_field :notification_percent, placeholder: 'Enter % Limit', class: 'preferences-input' %>%
  </div>

<!--      <%= f.select(:notification_type, options_for_select([['Email', 'email'],['Text', 'text'], ['Text and Email', 'email_text']], @user.notification_type)) %>
-->

  <a href="/users/edit">Change Password</a><br></br>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
