<!DOCTYPE html>
<html>
  <head>
    <title>Spending Alert</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
		<!-- Wrapper -->
		<div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar" class="inactive">
        <div class="inner">
          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <% if current_user %>
                <!--<li><a href="/">Why Choose Us?</a></li> -->
                <li><a href="/dashboard">Monthly Spending</a></li>
                <li><a href="/budget">Set Spending Limit</a></li>
                <li><a href="/accounts">Add Accounts</a></li>
                <li><a href="/users/edit">Settings</a></li>
                <li><a href="/users/sign_out" data-method="delete">Log Out</a></li>
              <% else %>
                <li><a href="/">Why Choose Us?</a></li>
                <li><a href="/users/sign_up">60 Day Free Trial</a></li>
                <!-- <li><a onclick="scrollToBottom()" href="#">Contact Us</a></li> -->
                <li><a href="/users/sign_up">Sign Up</a></li>
                <li><a href="/users/sign_in">Log In</a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

			<div class="inner">
				<!-- Header -->
				<header id="header">
          <% if current_user %>
            <a href="/dashboard" class="logo"><img src="/spendingalertlogo4.png"></img></a>
          <% else %>
            <a href="/" class="logo"><img src="/spendingalertlogo4.png"></img></a>
          <% end %>
				</header>

				<main>
					<%= render "layouts/flash" %>
					<%= yield %>
				</main>
			</div>
		</div>

    <!-- Footer -->
    <footer>
      <section class="footer-links">
        <header class="major">
          <h3><a class="no-line" href="#">WHY CHOOSE US</a></h3> 
        </header>
        <header class="major">
          <h3><a class="no-line" href="/users/sign_up">60 DAY FREE TRIAL</a></h3> 
        </header>
        <header class="major">
          <% if current_user %>
            <h3><a class="no-line" href="/users/sign_out" data-method="delete">LOG OUT</a></h3>
          <% else %>
            <h3><a class="no-line" href="/users/sign_in">LOG IN</a></h3> 
          <% end %>
        </header>
        <header class="major">
          <h3><a class="no-line" href="/press">BLOG</a></h3> 
        </header>
      </section>

      <p class="copyright">
        &copy; SpendingAlert is operated by Spending Alert LLC. All rights reserved.<br> Terms, conditions, features, pricing are subject to change without notice.
      </p>
      <p class="text-center">
        <a class="text-white" href="/terms_and_conditions">Terms of Use</a> | <a class="text-white" href="/privacy_policy">Privacy Policy</a>
      </p>
      <div class="footer-logo"><img src="/spendingalertlogo-white.png"></img></div>
    </footer>

  </body>

  <link rel="stylesheet" href="assets/application.css" />
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <!-- Scripts -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>
</html>
